
/* fonts*/
* {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

p{
  font-family: 'Lato', sans-serif;
  font-size:  18px;
}
h1{
  font-family: 'Lato', sans-serif;
}
h2{
  font-family: 'Lato', sans-serif;
}


/* ---------------------------------------
----                 header          ----
----                                 ----
--------------------------------------- */ 
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #f3036e;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #F6F6F6 ;
}
.navbar{background:  black;

   }
  .my-name-dos { font-family: 'Pacifico', cursive;
  font-weight: 10;
  font-size: 25px;
  color: white;
} 
  .my-name { font-family: 'Pacifico', cursive;
  font-weight: 10;
  font-size:  30px;
  color: white;
}


.hola{color:#f3036e;
  font-family: 'Lato', sans-serif;
  font-size:  35px;
  ;

}

.informa{

  color:black;
  font-family: 'PT Sans', sans-serif;
  font-weight: 15px;
  font-size:  25px;


}
.saludos{
  color:black;
  font-family: 'Lato', sans-serif;
  font-size:  25px;
     ;

}
 

li .active{background:  #ffffff;}

.cont{
  background: white;

}


.no-space{    padding-right:0px;
   
    padding-left: 0px;
   }

.momentos{
  background:    #141414;
  color:white;
}
.info{ z-index: 4;
}
.des-actividad{font-size: 27px;}
}
.title-actividad{font-size: 25px;}
.tit{

    position: absolute;
   
    z-index: 99;
       color: #f3036e;
    background: rgba(255, 255, 255, .8);
   
    top: 15px;
    padding: 8px 30px;
 text-transform: uppercase;
    display: block;  
  
   
    max-width: 90%;

}

  /* .title-actividad{ 
  font-family: 'Lato', sans-serif;
  font-size:  40px;
  font-weight: 300;}
  /* --------------------------------- 
  efecto*/
  .k-effect li:hover span.mask {
    transition: all 0.3s ease-in-out 0.25s;
    -moz-transition: all 0.3s ease-in-out 0.25s;
    -webkit-transition: all 0.3s ease-in-out 0.25s;
    -o-transition: all 0.3s ease-in-out 0.25s;
}

span.mask, ul.k-effect li, ul.k-effect img {
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
}
/*reset*/
ul.k-effect {list-style: none outside none;margin: 0;padding: 0;}
ul.k-effect li {list-style: none outside none;}

ul.k-effect li:hover img {opacity: 0.9

  ;}

ul.k-effect li {
    background: #fff;

   
    position: relative;
    top: 0;
}
ul.k-effect li  {
    display: block;
    overflow: hidden;
    position: relative;
}
ul.k-effect span.mask {
    background-color: rgba(0, 0, 0, 0.8);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}
 ul.k-effect.bottom li:hover .tit {   background: rgba(0, 0, 0, 0);}
ul.k-effect.bottom li:hover {box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0);}
ul.k-effect.bottom span.mask {height: 100%;width: 100%;opacity: 0; top: 0;}
ul.k-effect.bottom li:hover span.mask {opacity: 1;}
ul.k-effect li >  {
    height: 200px; /*ancho   media query screen*/
    width: 325px; /*alto*/
}

.text-default{ color: white;}
.mask{top:  30px;}
.fromat{padding-right:30px;
padding-left: 30px;}
/* ---------------------------------------
----              empleoss         ----
----                                 ----
--------------------------------------- */ .list{color: white;}
.list2{color: black;}
.logoempresa{
  position: relative;
  z-index: 99;
}
a .enlacbtn:link{
    text-decoration:none;  
}
.enlacebtn{
  position: relative;
    top: 17px;
      color: black;
    background: none;
    border: 1px solid black;
    font-size: 15px;
    padding: 7px 25px;
    font-weight: normal;
    display: inline-block;
    text-decoration: none;
    font-family: "HelveticaLTStd-Roman", Arial, sans-serif;
    min-width: 120px;
    text-transform: uppercase;
    display: inline-block;
      text-decoration:none;  
}
.chamba{border-color: #FF0092;  }
.glyphicon-ok {color: #FF0092;}
.ins{color: #736F66;}
.tiempo{color: #228DFF; font-size: 25px;}
.glyphicon-briefcase{color:white;}

.company{ color:#44749D; font-size: 28px;}
.descripcion{font-size: 25px;}

.glyphicon-hand-up{z-index: 99;
position: relative;
top: -80px;}

.imagen:hover >.manita{
  position: relative;
  z-index: 99;
  top: -70px;
  left: 45px;
  font-size: 30px;
color: white;


;
  -webkit-text-stroke:1px #FF0092;

;

  transform : scale(2);
    -moz-transform : scale(2); /* Firefox */
    -webkit-transform : scale(2); /* Chrome - Safari */
    -o-transform : scale(2); /* Opera */
    -ms-transform : scale(2); /* IE9 */

}

.imagen:hover >.manita-left{
  position: relative;
  z-index: 99;
  top: -70px;
  left:-70px;
  font: 30px;
color: white

;
 -webkit-text-stroke:1px #FF0092;
          
  transform : scale(2);
    -moz-transform : scale(2); /* Firefox */
    -webkit-transform : scale(2); /* Chrome - Safari */
    -o-transform : scale(2); /* Opera */
    -ms-transform : scale(2); /* IE9 */
}


/* ---------------------------------------
----            modal        ----
----                                 ----
--------------------------------------- */ 
.modal-header ,.modal-footer {
  background:#141414 ;


color: white;
  
}
.glyphicon-phone{ color:#00A3CC;}
.glyphicon-envelope{color: #FB0B3F;}

/* ---------------------------------------
----                footer          ----
----                                 ----
--------------------------------------- */ 


footer{
  background:#363840;
  padding-top:  25px;
  color: #C5CFC6
  ; 
  height: 100%;
}
.glyphicon-road{color:   yellow;}
.glyphicon-heart{
  color:  red;
}
.glyphicon-copyright-mark{
  color: white;
}

/*----------------------------*/
@media screen and (max-width: 500px){

.my-name{ font-family: 'Pacifico', cursive;
  font-weight: 400;  font-size:  20px;
}

.des-actividad{font-size: 14px;}

.glyphicon-hand-up{z-index: 99;
position: relative;
top: -30px;}


.title-actividad{font-size: 14px;}

.fromat {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;







}
.enlacebtn{
  position: relative;
    top: 10px;
      color: black;
    background: none;
    border: 1px solid black;
    font-size: 15px;
    padding: 7px 25px;
    font-weight: normal;
    display: inline-block;
    text-decoration: none;
    font-family: "HelveticaLTStd-Roman", Arial, sans-serif;
    min-width: 120px;
    text-transform: uppercase;
    display: inline-block;
    text-decoration:none;  
}

}
.title-actividad{font-size: 15px;}
